include MANIFEST.in
include *.txt
include *.md
include setup.py
include pyproject.toml
include *.cmake
recursive-include gperftools *
recursive-include include *
recursive-include python *
recursive-include windows *
prune python/tests
prune python/examples
recursive-include src *
recursive-include tests *
